<%- include("header") %>
<% if(journals && journals.length){ %>
    <% for(let journal of journals){ %> 
        <% for(let post of journal.posts) { %>
            <div class="singlePostContent">
                <div class="postTitle">
                    <a href="/journals/<%= journal.name %>/<%= post.title %>"><p><%= post.title %></p></a>
                </div>
                <div class="postContent">
                    <p class="postPara"><%= post.content %></p>
                </div>
                <div class="postFooter">
                    <p class="postJournalName"><%= journal.name %></p>
                </div>
            </div>
        <% } %>
    <% } %>
<% }else { %>
    <div class="singlePostContent">
        <div class="postTitle">
            <a href="#"><p>< /NO POSTS/ ></p></a>
        </div>
        <div class="postContent">
            <p class="postPara">No posts available currently to show !</p>
        </div>
        <div class="postFooter">
            <p class="postJournalName">***</p>
        </div>
    </div>
<% } %>
<%- include("footer") %>
